<h2 class="posts_title">
  <span id="success" style="color: green;display: none;float: right;font-size: 15px;position: relative;top: -5px;">Successfully deleted this post.</span>
</h2>
<% if @posts.present? %>
  <% for post in @posts.compact %>
   <div class="box-rowshiv">
        <div class="frow frow-profile">
          <div> 
            <div class="circlE"> <%= post_picture(post) %> </div>
          </div>
          <div>
            <div class="box-content clearfix"> 
              <span class="day"><%= time_ago_in_words(post.created_at) %></span> 
              <h3><%= link_to post.user.fullname, profile_path(:school_name => current_user.school_admin.school,:id =>post.user.id), :style => 'color:black;font-weight:bold;' %> <span><%= post.user.username %></span></h3>              
              <div class="post_text">
              <%= render :partial => '/profiles/post_text',:locals => {:post => post} %>
             </div>
              <% if post.body > post.body.slice(0..300) %>
            <%= link_to_function "expand", "expand(#{post.id})", :id => "expand_#{post.id}" %>
            <%= link_to_function "Hide", "unexpand(#{post.id})", :id => "unexpand_#{post.id}", :style => 'display:none;' %>
            &nbsp&nbsp
          <% end %>
              </p>
              <ul class="list-socialIcon clearfix">
                <li class="icon-comment1">
              <% if post.tweet_id == nil %>
              <% if post.reply == true %>
                <%= link_to_function "<span>Comment</span>".html_safe, "conversation('#{current_user.school_admin.school}',#{post.id})", :id => "discussion_#{post.id}", :title => "View Conversation" %>
              <% end %>
            <% else %>
              <%= link_to_function "<span>Comment</span>".html_safe, "conversation('#{current_user.school_admin.school}',#{post.id})", :id => "discussion_#{post.id}", :title => "View Conversation" %>
            <% end %>
                
                </li>
                <li class="icon-return">
                <%= link_to_function "<span>Reply</span>".html_safe, "reply(#{current_user.id}, #{post.id})", :title => "Reply" %>
                </li>
                <li class="icon-repost">
                <% if post.user_id == current_user.id  %>
                  <%= link_to "<span>Repost</span>".html_safe,repost_user_post_path(current_user.id,post.id),:remote => true,:method => 'post', :title => "Repost" %>
               <% end %>
                <li class="icon-delete">
                <% if post.user_id == current_user.id  %>
              <span id="delete_<%= post.id %>">
                <%= link_to "<span>Delete</span>".html_safe, user_post_path(current_user,post), :method => :delete, :remote => true,:confirm => "Are you Sure..", :class => 'button medium red', :title => "Delete" %>
              </span>
            <% end %>
                
                </li>
                <li class="icon-favorite">
                <% if !post.favorite.present? || !current_user.favorite_for(post).present? %>
              <%= link_to "<span>Favorite</span>".html_safe,favourite_user_posts_path(post.id),:remote => true,:method => 'post', :title => "Favorite" %>
            <% elsif post.favorite.status == true %>
              <%= link_to "<span>Favorited</span>".html_safe,update_favourite_user_posts_path(post.id),:remote => true,:method => 'put', :style => 'color: #FF9B00;', :title => "Favorited" %>
            <%elsif post.favorite.status == false%>
              <%= link_to "<span>Favorite</span>".html_safe,update_mark_favourite_user_posts_path(post.id),:remote => true,:method => 'put', :title => "Favorite" %>
            <% end %>
                
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


  <% end %>
<% else %>
  <span style="color: red;font-size: 15px;left: 300px;position: relative;">No Posts.</span>
<% end %>
<% if @posts.total_pages > @posts.current_page %>
  <div id="more_posts_link">
    <input type="hidden" value="<%= @posts.current_page+1 %>" id="posts_page" />
  </div>
<% end %>
<div id='ajax' style='z-index:1000000;width:500px;height:120px;display: none;'>
  <div style="float:left;clear:both;">
    <div class="post" style="height: 72px;">
      <img alt=""  src="/assets/bigger_spinner.gif" id = "ajax-loader" /><br />
    </div>
  </div>
</div>
