<h2><span class="icon-studenT"></span>Profiles</h2>
  <div class="box-bgprofile">
      <div class="box-switch"> 
      <div class="cover_photo" style= "background-image : url(<%= @user.theme.present? ? @user.theme : '/assets/cover_photo.jpg'%>)">
        <% if @user.id == current_user.id %>
          <div class="cover_photo_button"><a href="javascript:changeBGImage('<%= current_user.school_admin.school %>',0,<%= current_user.id %>)">Switch themee</a></div>
        <% end %>
      </div>
      
      </div>
      <div class="box-imgrow">
        <div class="frow frow-profile">
          <div>
            <div class="circle2"> 
            <%= profile_picture %>
            </div>
          </div>
          <div>
            <div class="box-content clearfix">
              <h3><%= @user.fullname %> <span><%= @user.username %></span></h3>
              <% if @user.id == current_user.id %>
        <span><%= link_to 'Edit Profile',edit_profile_path(:school_name => current_user.school_admin.school,:id =>current_user.id) %></span>
      <% else %>
        <div class="btn-group other_profile_options_button">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="/assets/dude.png" width="15px" height="20px"/>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to_function "Post to #{@user.username}", "post('#{@user.school_admin.school}',#{@user.id})"%></li>
            <li><%= link_to_function "Report #{@user.username}", "report('#{@user.school_admin.school}',#{@user.id})"%></li>
          </ul>
        </div>
      <% end %>
           </div>
          </div>
        </div>
      </div>
    </div>


