<%= render "layouts/left_side_menu" %>

<div id="right-column">
<h2><span class="icon-editprofile"></span>Edit Profile</h2>
<div class="box-editprofile">
<%= form_for(@user, :url => profile_path(:school_name => current_user.school_admin.school,:id => @user)) do |f| %>
<div class="box-identify">
<div class="box-imgrow">
              <div class="frow frow-profile">
                  <div> 
                    <div class="circle2">
                    <%if @user.role == 'student'%>
                    <%=@user.avatar.present? ? image_tag(@user.avatar.url(:original) , :id => "PreviewImage1") : image_tag("/assets/profile_pic_student.png", :id => "PreviewImage1")%>
                  <%else%>
                    <%=@user.avatar.present? ? image_tag(@user.avatar.url(:original), :id => "PreviewImage1") : image_tag("/assets/profile_pic_instructor.png", :id => "PreviewImage1")%>
                  <%end%>
                    </div>
                </div>
                <div> 
                  <div class="box-content clearfix">
                    <p>This photo is your identity on Studygossip and appears with your posts.Need help? </p>
                    <p><a href="#" title="Learn More" class="btn btn-learn">Learn More</a></p>
                    <span>
                    <%= f.file_field :avatar, :onChange => 'readURL(this)' %>
                   
                    </span>
                </div>  
              </div>
            </div>
            </div> 
        </div>
       <div class="box-username">
            <div class="frow frow-class">
              <div>
                Username
              </div> 
              <div>
              <%= f.text_field :username, :value => @user.try(:username).try(:split, '@').try(:last),:onBlur => "get_username(this)", :class=>"input-class" %>
              </div>
            </div>
            <div class="frow frow-class">
              <div>
               Email
              </div> 
              <div>
              <%= f.email_field :email, :readonly => true, :class=>"input-class input-bgcolor" %>
               <%= validation_error(@user.errors["email"]) %>
              </div>
            </div>
            <div class="frow frow-class">
              <div>
                From
              </div> 
              <div>
                 <%= f.text_field :state, :class=>"input-class" %>
              </div>
            </div>
            <div class="frow frow-class">
              <div>
                Major
              </div> 
              <div>
              <%= f.text_field :major, :class=>"input-class" %>
              </div>
            </div>
            
            <div class="frow frow-class">
              <div> 
                <div class="top-spacing">
                  Bio
                </div>
              </div> 
              <div>
              <%= f.text_area :class_description, :rows=>3, :class=>"textarea-bio" %>
                
              </div>
            </div>
                <div class="frow frow-class">
              <div>
                Website
              </div> 
              <div>
              <%= f.text_field :website, :class=>"input-class" %>
              </div>
            </div>        
            <div class="frow frow-class">
              <div>
                
              </div> 
              <div>
                <input alt="" title="Save Changes" type="submit" value="Save Changes" class="btn btn-save"/>
              </div>
            </div>
          </div>

<% end %>
</div>
</div>


<script>
  function readURL(input) {
    alert("hello");
    if (input.files && input.files[0]) {//Check if input has files.
      var reader = new FileReader();//Initialize FileReader.

      reader.onload = function (e) {
        $('#PreviewImage1').attr('src', e.target.result);
        $('#PreviewImage1').show();
        $("#user_photo").hide();
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  $(document).submit(function(){
    var u_name = $("#user_username").val().toLowerCase()
    $("#user_username").val('@'+u_name);
  });
</script>
