<%= render "layouts/left_side_menu" %>

<div id="right-column">
  <h2><span class="icon-post"></span>Posts</h2>
  <% if current_user.role == 'student' %>
    <div class="points-top">
      <h5>Points</h5>
      <ul class="list-points">
        <li>Badges</li>
        <li class="pipe">|</li>
        <li>Stats</li>
      </ul>
    </div>
    <div class="box-point">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active progress-bar-styled" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80 <span class="sr-only">80% Complete</span> </div>
      </div>
    </div>
  <% end %>
  <div class="box-compose">
  <%= form_for @post, :url =>compose_message_profiles_path(:school_name => current_user.school_admin.school),:html => {:multipart => true,:method => "POST"},:remote => true do |f| %>
    <%= f.text_area :body,:class=>"textarea-compose",:placeholder=>"Compose new Post...", :rows => "3",:id => 'area' %>
      
      <div class="box-attech"> <span class="btn btn-file">Attach file
        <%= f.file_field :document, :id => "file_browse", :onChange => 'readURL(this)' %>
        </span>               
      </div>
      <input title="Post" type="submit" alt="" value="Post" class="btn-post"/> 
    <% end %>
            
    </div>

   <div class="box-workday">
  
    <span id="success" style="color: green;display: none;float: right;font-size: 15px;position: relative;top: -5px;">Successfully deleted this post.</span>
  
    <%= render :partial => 'index' %>
    <input type="hidden" value="inbox" id="post_type" />
  </div>
</div>

<script>
  jQuery(function() {
    jQuery(window).scroll(
    function() {
      if (($(window).scrollTop() == $(document).height() - $(window).height()) && jQuery('#posts_page').val() > 0)
      {
        if (jQuery("#post_type").val() == 'inbox') {
          more_posts('<%= current_user.school_admin.school%>',jQuery('#posts_page').val())
        }
      }
    });
  });

  $(document).ready(function(){
    $("#area").val("")
  });
</script>
