<div id="right-column">
    <h2><span class="icon-sendinvitation"></span>Send Invitation To Student</h2>
    <div class="box-name box-send clearfix">
      
      <%= form_for(@student, :url => school_students_path(@school),:html => {:id => "commentForm"}) do |f| %>
      <div class="frow frow-class">
        <div> First Name: </div>
        <div>
        <%= f.text_field :first_name, :class => 'required input-class' %>
          
        </div>
      </div>
      <div class="frow frow-class">
        <div> Last Name: </div>
        <div>
        <%= f.text_field :last_name, :class => 'required input-class' %>
        </div>
      </div>
      <div class="frow frow-class">
        <div> Email: </div>
        <div>
        <%= f.text_field :email, :class => 'text required email input-class' %>
        <%= validation_error(@student.errors["email"])%>
        </div>
      </div>
      <div class="frow frow-class">
        <div> Class Name: </div>
        <div>
         
        <%= select_tag :class_id,  options_for_select([["Select", ""]] + Cls.where("school_admin_id = #{current_school_admin.id}").map{|ic| [ic.class_name,ic.id]}), style: "width: 318px;" %>
         
        </div>
      </div>

      <div class="frow frow-class">
        <div> </div>
        <div>
          <input alt="" title="Send Invitation" type="submit" class="btn btn-save" value="Send Invitation"/>
        </div>
      </div>
      <% end %>

      <div class="frow frow-class">
        <div> </div>
        <div> <span>Or</span> </div>
      </div>
      
      <%= render :partial => "upload_csvs/upload_csv" %>
    </div>
  </div>

  
<script>
  $("#commentForm").validate();
</script>
