  
   <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-left">
         <%= form_for(@student, :url => school_students_path(@school),:html => {:id => "commentForm"}) do |f| %>
                <link rel="stylesheet" href="/assets/home/bootstrap.min.css"> <h2>Send Invitation To Student</h2>
            <%= f.label :first_name,"First Name" %><br>
         <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-user"></span>
          <%= f.text_field :first_name, placeholder: "First Name", class: "form-control input-lg", label: false, autofocus: true , :required =>true, :style=>"height: 28px;" %>
          <%= validation_error(@student.errors["first_name"])%>

        </div><br>

        <%= f.label :last_name, "Last Name" %><br>
        <div class="input-group">
         <span class="input-group-addon glyphicon glyphicon-user"></span>
         <%= f.text_field :last_name, :class=>"form-control", :placeholder=>"Last Name",:required => true,:style=>"height: 28px;" %>   
         <%= validation_error(@student.errors["last_name"])%>
       </div><br>

       <%= f.label :email, "Email" %><br>
       <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <%= f.email_field :email, :class=>"form-control", :placeholder=>"Email",:required =>true,:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["email"])%>

      </div><br>



      <%= f.label :father_name, "Father Name" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.text_field :father_name, :class=>"form-control", :placeholder=>"Father Name",:required =>true,:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["father_name"])%>
      </div><br>

<%= f.label :date_of_birth, "Date Of Birth" %><br>
  <div class="input-group">
  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
<%= f.date_select(:date_of_birth, {:order => [:day,:month,:year],:end_year => Time.now.strftime('%Y').to_i - 70, :start_year => Time.now.strftime('%Y').to_i,:use_month_numbers => true})%>
<%= validation_error(@student.errors["date_of_birth"])%>
 </div><br>

      <%= f.label :full_address, "Full Address" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-list"></span>
        <%= f.text_area :full_address, :class=>"form-control", :placeholder=>"Full Address",:required =>true,:style=>"height: 60px;" %>
        <%= validation_error(@student.errors["Full_address"])%>

      </div><br>

      <%= f.label :zip_code, "Pin Code" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.text_field :zipcode, :class=>"form-control", :placeholder=>"Zip Code",:required =>true,:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["zipcode"])%>
      </div><br>

      <%= f.label :guardian_name, "Guardian Name" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.text_field :guradian_name, :class=>"form-control", :placeholder=>"Guardian Name",:required =>true,:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["guradian_name"])%>
      </div><br>

      <%= f.label :guardian_contact_info, "Guardian Contact Information" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-list"></span>
        <%= f.text_area :guardian_contact_info, :class=>"form-control", :placeholder=>"Guardian Contact Info",:required =>true,:style=>"height: 60px;" %>
        <%= validation_error(@student.errors["guardian_contact_info"])%>
      </div><br>

      <%= f.label :guardian_relation, "Relation with Guardain" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.text_field :relation_with_guardain, :class=>"form-control", :placeholder=>"Guardian Relation",:required =>true,:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["relation_with_guardain"])%>
      </div><br>

   <!--       <%#= f.label :home_phone, "Home Phone" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-phone"></span>
        <%#= f.telephone_field :home_phone, :class=>"form-control required",:number => true, :placeholder=>"Home Phone",:id => "txtphone",:style=>"height: 28px;" %>
        <%#= validation_error(@student.errors["home_phone"])%>

      </div><br>

      <%#= f.label :emrgency_phone, "Emergency Phone" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-phone"></span>
        <%#= f.telephone_field :emergency_phone,  :class=>"form-control required",:number => true, :placeholder=>"Emergency Phone",:id=>"txtphone",:style=>"height: 28px;" %>
        <%#= validation_error(@student.errors["emergency_phone"])%>
      </div><br> -->




   <%= f.label :home_phone, "Home Phone" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-phone"></span>
        <%= f.telephone_field :home_phone, :class=>"form-control required", :placeholder=>"Home Phone",:id => "txtphone",:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["home_phone"])%>

      </div><br>

      <%= f.label :emrgency_phone, "Emergency Phone" %><br>
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-phone"></span>
        <%= f.telephone_field :emergency_phone,  :class=>"form-control required", :placeholder=>"Emergency Phone",:id=>"txtphone",:style=>"height: 28px;" %>
        <%= validation_error(@student.errors["emergency_phone"])%>
      </div><br>









      <div class="input-group">
        <p><b>Year Of Admission </b></p>  <%#= f.select :year_of_admission,(Time.zone.now.year - 20)..(Time.zone.now.year + 10),:class => 'form-control required',  :id => "year_of_admission" %>
        <%= f.date_select :year_of_admission, {:start_year => Time.now.year - 2, :end_year => Time.now.year + 15, :discard_day => true, :discard_month => true}, :selected => @student.year_of_admission %>
        <%= validation_error(@student.errors["year_of_admission"])%>
      </div>
<br>
 
     <div class="input-group">
        <%= select_tag :class_id,  options_for_select([["Select Class Name", ""]] + Cls.where("school_admin_id = #{current_school_admin.id}").map{|ic| [ic.class_name,ic.id]}), :class => 'form-control required' %>
        <%= validation_error(@student.errors["class_id"])%>
      </div><br>



      <div class="input-actions">
        <%= f.submit "Send Invitation", :class => 'btn btn-primary'%>
      </div> 
      <%end%>

   <!--    <span style="text-align: center;"><center>(OR)</center></span>
      <div>

        <h3><center>Send Invitation To Student</center></h3><br />
        <center>
         <%#= render :partial => "upload_csvs/upload_csv" %>

       </center>
     </div> -->

   </div>
   <script>
    $("#commentForm").validate();

  </script>

  <style>
    #user_date_of_birth_3i,#user_date_of_birth_2i,#user_date_of_birth_1i   {
      width: 68px;
    }


    #error_explanation {
      color: #f00;
      border: 1px solid #CCC;
      margin-bottom: 20px;
      padding: 10px;
      ul {
        list-style: none;
        margin: 0 0 18px 0;
      }
    }

    .field_with_errors {
      padding: 1px;
      background-color: #f00;
      display: table;
    }


</style>

