  <div id="title"><center>Send Invitation To Student</center></div><br />
  <%= form_for(@student, :url => school_students_path(@school),:html => {:id => "commentForm"}) do |f| %>

<center>
<div class="row">

  <div class="form-group">
    <div class="col-md-6">
      <%= f.label :first_name %>
    <%= f.text_field :first_name, :class => 'required', :id => "cfame" %>
    </div>

  </div>
  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :last_name %>
    </div>
    <%= f.text_field :last_name, :class => 'required', :id => "clame"%>
  </div>

  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :email %>
    </div>
    <%= f.text_field :email, :class => 'text required email', :id => "inputEmail"  %>
    <%= validation_error(@student.errors["email"])%>
  </div>


  <div class="form-group">
    <div class="col-sm-1">
      <%= f.label :father_name %>
    </div>

    <%= f.text_field :father_name, :class => 'text required father name', :id => "inputfathername" %>
    <%= validation_error(@student.errors["father_name"])%>
  </div>


  <div class="form-group">
    <div class="col-sm-1">
     <%= f.label :DateofBirth %>
   </div>
    <%= f.date_select(:date_of_birth, {:order => [:day,:month,:year],:end_year => Time.now.strftime('%Y').to_i - 70, :start_year => Time.now.strftime('%Y').to_i,:use_month_numbers => true})%>

 </div>


 <div class="form-group">
  <div class="col-sm-1">
    <%= f.label :full_address %>
  </div>
  <%= f.text_field :full_address, :class => 'text required full address', :id => "Full_address" %>
  <%= validation_error(@student.errors["Full_address"])%>
</div>




<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :zipcode %>
  </div>
  <%= f.text_field :zipcode, :class => 'text required zipcode', :id => "input" %>
  <%= validation_error(@student.errors["zipcode"])%>
</div>


<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :Guardian %>
  </div>
  <%= f.text_field :guradian_name, :class => 'text required guradian_name', :id => "input" %>
  <%= validation_error(@student.errors["guradian_name"])%>
</div>



<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :GuardianContact %>
  </div>
  <%= f.text_field :guardian_contact_info, :class => 'text required guardian contact info', :id => "input" %>
  <%= validation_error(@student.errors["guardian_contact_info"])%>
</div>



<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :GuardianRelation %>
  </div>
  <%= f.text_field :relation_with_guardain , :class => 'text required relation with guardian', :id => "input"%>
  <%= validation_error(@student.errors["relation_with_guardain"])%>
</div>


<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :EmergencyPhone %>
  </div>
  <%= f.text_field :emrgency_phone, :class => 'text required Emergency phone', :id => "input phone"  %>
  <%= validation_error(@student.errors["emrgency_phone"])%>
</div>



<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :year_of_admission %>
  </div>
   <%= f.select :year_of_admission, (Time.zone.now.year - 20)..(Time.zone.now.year + 10) %>
  <%= validation_error(@student.errors["year_of_admission"])%>
</div>



<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :full_address %>
  </div>
  <%= f.text_field :full_address, :class => 'text required full address', :id => "inputfulladdress" %>
  <%= validation_error(@student.errors["full_address"])%>
</div>


<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :home_phone %>
  </div>
  <%= f.text_field :home_phone, :class => 'text required home phone contact info', :id => "home_phone"  %>
  <%= validation_error(@student.errors["home_phone"])%>
</div>


<div class="form-group">
  <div class="col-sm-1">
    <%= f.label :ClassName %>
  </div>
  <%= select_tag :class_id,  options_for_select([["Select", ""]] + Cls.where("school_admin_id = #{current_school_admin.id}").map{|ic| [ic.class_name,ic.id]}) %>
</div>


<div class="actions">
  <%= f.submit "Send Invitation", :class => 'btn btn-primary'%>
</div> 
<%end%>

</div>
</center>

<span style="text-align: center;"><center>(OR)</center></span>
<div>
  <h3><center>Send Invitation To Student</center></h3><br />
  <%= render :partial => "upload_csvs/upload_csv" %>
</div>

<script>
  $("#commentForm").validate();
</script>


<style>
#user_date_of_birth_3i,#user_date_of_birth_2i,#user_date_of_birth_1i   {
  width: 60px;
 }
</style>


