<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">

   <link rel="stylesheet" href="/assets/home/bootstrap.min.css"> 

  <div class="well well-lg"><h2>Student Profile</h2></div>
  <div class="row-fluid">
  <%  if @user.first_name.present? %>
   <div class="span4"> First Name:</div>
   <div class="span4"><%= @user.first_name.capitalize  %></div>
   <% end %>
 </div>

 <div class="row-fluid">
   <%  if @user.last_name.present? %>
  <div class="span4"> Last Name:</div>
  <div class="span4"><%= @user.last_name.capitalize %></div>
     <% end %>
</div>

<div class="row-fluid">
  <%  if @user.email.present? %>
  <div class="span4"> Student Email:</div>
  <div class="span4"><%= @user.email %></div>
   <% end %>
</div>

<div class="row-fluid">
  <%  if @user.avatar.present? %>
  <div class="span4"> Student Image:</div>
  <div class="span4"><%= image_tag @user.avatar %></div>
     <% end %>
</div>

<div class="row-fluid">
  <%  if @user.father_name.present? %>
  <div class="span4"> Father Name:</div>
  <div class="span4"><%= @user.father_name.capitalize %></div>
<% end %>
</div>

<div class="row-fluid">
  <%  if @user.date_of_birth.present? %>
  <div class="span4"> Student Date Of Birth:</div>
  <div class="span4"><%= @user.date_of_birth.strftime("%d-%m-%Y") %></div>
<% end %>
</div>

<div class="row-fluid">
  <%  if @user.guradian_name.present? %>
  <div class="span4"> Guardian Name:</div>
  <div class="span4"><%=  @user.guradian_name.capitalize %></div>
  <% end %>
</div>

<div class="row-fluid">
  <%  if @user.guardian_contact_info.present? %>
  <div class="span4">Guardian Contact Information:</div>
  <div class="span4"><%=  @user.guardian_contact_info %></div>
  <% end %>
</div>

<div class="row-fluid">
  <%  if @user.relation_with_guardain.present? %>
  <div class="span4"> Student Guardian Name:</div>
  <div class="span4"><%=  @user.relation_with_guardain.capitalize %></div>
  <% end %>
</div>

<div class="row-fluid">
  <%  if @user.emergency_phone.present? %>
  <div class="span4"> Emergency Phone:</div>
  <div class="span4"><%=  @user.emergency_phone %></div>
  <% end %>
</div>

<div class="row-fluid">
  <%  if @user.year_of_admission.present? %>
  <div class="span4"> Student Admission Year:</div>
  <div class="span4"><%=  @user.year_of_admission.strftime("%d-%m-%Y") %></div>
  <% end %>
</div>

<div class="row-fluid">
  <%  if @user.full_address.present? %>
  <div class="span4"> Guardian Full Address:</div>
  <div class="span4"><%=  @user.full_address %></div>
  <% end %>
</div>

<div class="row-fluid">
  <%  if @user.home_phone.present? %>
  <div class="span4"> Student Home Phone:</div>
  <div class="span4"><%=  @user.home_phone %></div>
  <% end %>
</div>
<%= link_to "Back To Dashboard", school_path(@school), :class => "btn btn-primary" %>

</div>
</div>
</div>