<div class="container">
  <div class="row">
    <div class="span10 sign_up_column">
      <div class="sign_up_content">
        <h2>Change your Password</h2>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="controls">
            <%= f.password_field :password, :class => 'form-control', :placeholder => "New password" %>
          </div><br/>
          <div class="controls">
            <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Confirm new password" %>
          </div><br/>
          <%= f.submit "Change", :class => "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">