<article>
  <div class="container">
    <h1><span>Why Join Learn</span></h1>
    <div class="row">
      <div class="box-join-learn">
        <div class="box-save-time col-xs-4 col-sm-4 col-md-4 col-lg-4 hide480"> <span class="icon-save"></span>
          <h2>Save Time</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse </p>
        </div>
        <div class="box-save-time col-xs-4 col-sm-4 col-md-4 col-lg-4"> <span class="icon-earn icon-save"></span>
          <h2>Earn Medals</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse </p>
        </div>
        <div class="box-save-time col-xs-4 col-sm-4 col-md-4 col-lg-4"> <span class="icon-collabrate icon-save"></span>
          <h2>Collaborate</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse</p>
        </div>
      </div>
    </div>
    <p><a href="#" title="Check out more" class="plenty_more">We've got plenty more to say,check out more</a></p>
    <div class="clearF"></div>
  </div>
  <div class="bg-communication">
    <div class="container">
      <div class="row">
        <div id="communication-id"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h3>Communication<br/>
            Platform</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat, turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 alCent"><%= image_tag("/assets/image-new/img-communication.png",:alt => "") %></div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row">
        <div id="collage-id"></div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 img-spacing"><%= image_tag("/assets/image-new/img-collage.png", :alt => "", :title => "") %>  </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 alRight">
          <h3>College <span>Management</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat, turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor</p>
        </div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-communication">
    <div class="container">
      <div class="row">
        <div id="track-id"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h3>Track <span>Participation</span> </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat, turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 track-spacing"><%= image_tag("/assets/image-new/img-track.png",:alt => "",:title => " ") %></div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-white">
    <div class="container">
      <div class="row">
        <div id="share-id"></div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"><%= image_tag("/assets/image-new/img-share.png", :alt => "", :title => "") %>  </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 alRight">
          <h3>Share <span>with Parents</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat, turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor</p>
        </div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="bg-communication">
    <div class="container">
      <div class="row">
        <div id="attendence-id"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h3>Attendence &amp; Scorecard</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod justo sit amet porttitor viverra. In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat, turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor</p>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 img-attendance">
          <%= image_tag("/assets/image-new/img-attendance.png", :alt => " ", :title => "") %></div>
      </div>
      <div class="clearF"></div>
    </div>
  </div>
  <div class="container">
    <p id="back-top" class="pulse"><a title="back to top" href="#top"></a></p>
    <div class="box-contactus">
      <h1><span>Get in Touch</span></h1>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2>StudyGossip</h2>
          <p class="text-alwaysSpacing">We always look forward to meet new awesome people and discuss brilliant project ideas. Come visit us! We have a great place to sit.</p>
          <p><a href="mailto:marketing@studygossip.com" class="blue-color" title="marketing@studygossip.com">marketing@studygossip.com</a></p>
          <p class="gray-color">T: 23.444.221</p>
          <p class="gray-color">F: 23.555.333</p>
          <ul class="list-social-icon">
            <li class="icon-twitter"><a href="#" title="twitter"></a></li>
            <li class="icon-linkedin"><a href="#" title="linkedin"></a></li>
          </ul>
        </div>
        
        <div id="contact_us">
          <%= render :partial => "contact" %>
        </div>
      </div>
    </div>
  </div>
</article>