<%= render "layouts/left_side_menu" %>
<div id="right-column">
<h2><span class="icon-editprofile"></span>Edit Class</h2>
<div class="box-editprofile">
<%= form_for(@user, :url => class_path(@user)) do |f| %>
<div class="box-identify">
<div class="box-imgrow">
              <div class="frow frow-profile">
                  <div> 
                    <div class="circle2">
                    <% if @user.role == 'student' %>
                    <%= @user.class_photo.present? ? image_tag(@user.class_photo.url(:original), :id => 'user_photo') : image_tag("/assets/profile_pic_student.png", :id => 'user_photo') %>
                  <% else %>
                    <%= @user.class_photo.present? ? image_tag(@user.class_photo.url(:original), :id => 'user_photo') : image_tag("/assets/profile_pic_instructor.png", :id => 'user_photo') %>
                  <% end %>
                  <img id="PreviewImage1" src="" alt="" style="display: none;"/>
                     
                    </div>
                </div>
                <div> 
                  <div class="box-content clearfix">
                    <p>This information appears on your public profile, search results, and beyond.</p>
                    <p><a href="#" title="Learn More" class="btn btn-learn">Learn More</a></p>
                    <span>
                    <%= f.file_field :class_photo, :onChange => 'readURL(this)', :title=>"Change Photo" %>
                    </span>
                </div>  
              </div>
            </div>
            </div> 
        </div>
       <div class="box-username">
            <div class="frow frow-class">
              <div>
                <%= f.label :class_name, "Classname" %>
              </div> 
              <div>
              <%= f.text_field :class_name, :placeholder => "Math or Chemistry", :class=>"input-class" %>
              </div>
            </div>
            <div class="frow frow-class">
              <div>
               <%= f.label :email, "Instructor's Email" %>
              </div> 
              <div>
              <%= f.email_field :email, :readonly => true, :class=>"input-class input-bgcolor" %>
               <%= validation_error(@user.errors["email"]) %>
              </div>
            </div>
            <div class="frow frow-class">
              <div>
                <%= f.label :syllabus, "Syllabus" %>
              </div> 
              <div>
                <%= f.text_field :syllabus, :placeholder => "Enter Link Here", :class=>"input-class" %>
              </div>
            </div>
            <div class="frow frow-class">
              <div>
                <%= f.label :school_admin_id, "School" %>
              </div> 
              <div>
              <%= f.text_field :school, :placeholder => @user.school_admin.school_name, :readonly => true, :class=>"input-class" %>
              </div>
            </div>
            
            <div class="frow frow-class">
              <div> 
                <div class="top-spacing">
                  <%= f.label :class_description, "Description" %>
                </div>
              </div> 
              <div>
              <%= f.text_area :class_description, :rows=>2, :class=>"textarea-bio" %>
                
              </div>
            </div>
                        
            <div class="frow frow-class">
              <div>
                
              </div> 
              <div>
                <input alt="" title="Save Changes" type="submit" value="Save Changes" class="btn btn-save"/>
              </div>
            </div>
          </div>

<% end %>
</div>


</div>


<script>
  function readURL(input) {
    if (input.files && input.files[0]) {//Check if input has files.
      var reader = new FileReader();//Initialize FileReader.

      reader.onload = function (e) {
        $('#PreviewImage1').attr('src', e.target.result);
        $('#PreviewImage1').show();
        $("#user_photo").hide();
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
