<% if @teacher_tweets.present? %>
  <% for post in @teacher_tweets %>
    <% if post.tweet.post_box == @post_box %>
     <div class="frow frow-profile" id="post_<%= post.id %>">
          <div> 
            <div class="circlE"> <%= post_picture(post) %> </div>
          </div>
          <div>
          <div class="box-content clearfix"> 
            <span class="day"><%= time_ago_in_words(post.created_at) %></span>
            <h3><%= link_to post.user.fullname, profile_path(:school_name => current_user.school_admin.school,:id =>post.user.id), :style => 'color:black;font-weight:bold;' %> <span><%= post.user.username %></span></h3>
            <p>
            <%= post.tweet.body %><br/>
            Class Name: <%= post.subject.cls.class_name %><br/>
            Subject Name: <%= post.subject.subject_name %>
            </p>
          </div>
          </div>
    <% end %>
  <% end %>
<% else %>
  <span style="color: red;font-size: 15px;">No <%=  params[:post].present? ? @header : "Posts" %>.</span>
<% end %>