<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">

<h2>Send Invitation To Teacher</h2>
<link rel="stylesheet" href="/assets/home/bootstrap.min.css">

  <%= form_for(@teacher, :url => school_teachers_path(@school),:html => {:id => "commentForm"}) do |f| %>
  
  <%= f.label :first_name, "First Name" %><br>
            <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <div style="padding-left: 0px">
      <%= f.text_field :first_name, :class=>"form-control required", :placeholder=>"First Name", :autofocus=> true ,:style=>"height: 30px;width: 470px;"%>
      </div>
      </div><br>

  <%= f.label :last_name, "Last Name" %><br>
            <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-user"></span>
      <div style="padding-left: 0px">
      <%= f.text_field :last_name, :class=>"form-control required", :placeholder=>"Last Name", :autofocus=> true ,:style=>"height: 30px;width: 470px;"%>
      </div>
      </div><br>
      
        <%= f.label :email, "Email" %><br>
            <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-envelope"></span>
      <div style="padding-left: 0px">
      <%= f.text_field :email, :class=>"form-control required", :placeholder=>"Email", :autofocus=> true ,:style=>"height: 30px;width: 470px;"%>
      <%= validation_error(@teacher.errors["email"])%>
      </div>
      </div><br>

       

      <%= f.submit "Send Invitation", :class => "btn btn-success"%>
     
  <% end %>
<!--   <span style="text-align: center;"><center>(OR)</center></span>
  <div>
    <h2>Send Invitation To Teacher</h2>
    <%#= render :partial => "upload_csvs/teacher_upload_csv" %>
  </div> -->
</div>
</div>
</div>
<script>
  $("#commentForm").validate();
</script>