<div class="container">
  <div class="col-md-5 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">

    <link rel="stylesheet" href="/assets/home/bootstrap.min.css"> 

<div class="row">

<center>
  <h2> Teacher Profile</h2>
</center>

  <div class="row-fluid">
  <div class="controls" style="margin-left: 150px;">
  <div class="span4"><%= image_tag @user.avatar %></div></div>
</div><br>

  <div class="row-fluid">
  <div class="controls" style="margin-left: 110px;">
   <div class="span4"> First Name:</div>
   <div class="span4"><%= @user.first_name.capitalize %></div></div>
 </div>



 <div class="row-fluid">
 <div class="controls" style="margin-left: 110px;">
  <div class="span4"> Last Name:</div>
  <div class="span4"><%= @user.last_name.capitalize %></div>
</div></div>

<div class="row-fluid">
<div class="controls" style="margin-left: 110px;">
  <div class="span4">Teacher Email:</div>
  <div class="span4"><%= @user.email %></div>
</div></div>

</div><br><br>
<%= link_to "Back to Dashboard",school_path(@school),:class=>"btn btn-primary" %>