<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
<% if resource_name == :user %>
        <div style="display :none;color :red; font-size: 14px;position: relative;z-index: 1001;top: 10px;" id=<%= params[:role] == 'student' ? 'error' : 'error2'%>>Invalid Email/Password</div>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class =>"form-horizontal" },:remote => true) do |f| %>
          <%= f.hidden_field :role,:value => params[:role] %>
         
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="/assets/home/bootstrap.min.css"> -->
<h2>Sign In</h2>
      <%= f.label :email %><br>
            <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-envelope"></span>
      <div style="padding-left: 0px">
      <%= f.text_field :email, :class=>"form-control", :placeholder=>"Email", :autofocus=> true ,:style=>"height: 30px;width: 553px;"%>
      </div>
      </div><br>
      <%= f.label :password %><br>
            <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-pencil"></span>
            <div style="padding-left: 0px">
      <%= f.password_field :password, :class=>"form-control", :placeholder=>"Password",:style=>"height: 30px;width: 553px;"%>
    </div>
    </div><br>

           
              <%#= link_to_function "Forgot Password?", "password_login('#{params[:role]}')" %>
               <div style="padding-left: 130px">
                <button type="submit" style="background: none; border: none;left: 85px;position: relative;top: 0px;"><%= params[:role] == 'student' ? (image_tag("/assets/login.png", :border=>'0')) : (image_tag("/assets/login copy.png", :border=>'0')) %></button>
                 </div>
        <% end %>
    
    </div><!--/span5-->
  </div>
</div>
</div>
<style>
  .span10 {
    margin-left: 310px;
    width: 480px;
  }

  #user_school_admin_id,#user_role{
    width: 470px;
  }
</style>
<% else %>

   <title>Parent Login</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />

  <body class="account register" style="background:#232323;">
    <div align="center" id="page" style="width: 635px;height: 347px;">
      <div id="session_content" style="padding: 4px;">
        <div style="background-color: #EEEEEE;width: 523px;height: 213px;margin-top:12px;">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>" style="color :red;position: absolute;margin: 12px 173px;"> Invalid Username or password. </div>
          <% end %>
          <div class="flash" style="color :#2A6C86;float: left;margin-top:15px;margin-left:12px;">Parent Login</div><br /><br />
          <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class =>"form-horizontal" },:remote => true) do |f| %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <table cellspacing="0px" cellpadding="4px" width="88%" style="margin-left:37px;">
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td valign="top"><%= f.label :email, "Email:" %></td>
                <td><%= f.email_field :email  %></td>
              </tr>
              <tr>
                <td valign="top"><%= f.label :password,"Password:" %></td>
                <td><%= f.password_field :password %></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" value="submit" style="text-decoration:none;border:none;background: none;"><%= image_tag('/assets/enter button.png') %></button></td>
              </tr>
            </table>
          <% end %>
        </div><br />
      </div>
      <div style="clear: both;">&nbsp;</div>
    </div>
    <div style="max-width: 200px;" id="tiptip_holder"><div id="tiptip_arrow"><div id="tiptip_arrow_inner"></div></div><div id="tiptip_content"></div></div></body>

<style>
  input[type=text], input[type=password], input[type=email], textarea {
    background-image: url("/assets/txt bar.png");
    color: rgb(65, 65, 65);
    font-size: 14px;
    height: 23px;
    width: 257px;
    border: none;
  }

  label {
    color: #414141;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0px 30px 0;
  }

  #page {
    margin: 116px auto;
  }

</style>


<% end %>