
      <div class="modal-body">
           <%= form_for(@parent, :url => school_parents_path(@school,@student),:html => {:id => "commentForm"},:remote => true) do |f| %>

  <%#= hidden_field_tag :user_id, @student.id %>
  <%= hidden_field_tag :user_id, params[:student_id] %>

   <%= f.hidden_field :school_admin_id,:value => @school.id %>
    <table>
      <tr>
        <td valign="top">First Name:</td>
        <td><%= f.text_field :first_name, :class => 'required', :id => "cfame"%></td>
                <td><%= validation_error(@parent.errors["last_name"]) %> </td>

      </tr>
      <tr>
        <td valign="top">Last Name:</td>
        <td><%= f.text_field :last_name, :class => 'required', :id => "clame"%></td>
        <td><%= validation_error(@parent.errors["last_name"]) %> </td>
      </tr>
      <tr>
        <td valign="top">Email:</td>
        <td><%= f.text_field :email, :class => 'text required email', :id => "inputEmail" %></td>
        <td><%= validation_error(@parent.errors["email"])%></td>
      </tr>
      <tr>
      
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
      </div>
