<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Studygossips</title>
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <%= stylesheet_link_tag "application", "jquery.notifyBar", "/assets/css-new/teacher_default.css", "login" %>
    
    <%#= javascript_include_tag "application", "jquery.notifyBar","jquery.simplyscroll","/assets/scripts/jquery.cloneposition.js","/assets/scripts/theme.js","/assets/scripts/flot/jquery.flot.js","/assets/scripts/charts.js","jquery.remotipart","/assets/bootstrap_files/bootstrap-transition.js","/assets/bootstrap_files/bootstrap-alert.js","/assets/bootstrap_files/bootstrap-modal.js","/assets/bootstrap_files/bootstrap-dropdown.js","/assets/bootstrap_files/bootstrap-scrollspy.js","/assets/bootstrap_files/bootstrap-tab.js","/assets/bootstrap_files/bootstrap-tooltip.js","/assets/bootstrap_files/bootstrap-popover.js","/assets/bootstrap_files/bootstrap-button.js","/assets/bootstrap_files/bootstrap-collapse.js","/assets/bootstrap_files/bootstrap-carousel.js","/assets/bootstrap_files/bootstrap-typeahead.js","http://code.jquery.com/ui/1.10.3/jquery-ui.js"%>
    <%= javascript_include_tag "application","/assets/js/jquery.min.js","/assets/jquery.validate", "jquery.notifyBar","jquery.simplyscroll","jquery.remotipart", "/assets/js/bootstrap/bootstrap.min.js", "/assets/js/html5.js", "/assets/js/navjs/waypoints.min.js", "/assets/js/navjs/navbar.js", "/assets/js/custom.js" %>
    <%= csrf_meta_tags %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function () {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
    
  </head>
  <body class="afterLogin box-mainpost">
  <header>
  <div id="sticky-bar" class="clearfix">
  <div id="sticky-bar-inside">
      <div class="top-header clearfix">
    <h1 id="logo">
      <a href="#" title="StudyGossip"></a>
    </h1>
    
    <ul class="menu-socialicon clearfix">
      <li class="icon-edit">
      
      <%= link_to_function "#", "new_compose('#{current_user.school_admin.school}')", :remote => true %>
      </li>
      <li class="icon-setting"><a href="#" title="Setting">Setting</a></li>
      <li>
        <ul class="list-shivraj clearfix">
          <li><%= current_user.fullname %></li>
          <li class="thum-user">
            <img alt="" title="" src="/assets/new_ui_images/thum-shivraj1.jpg"/>
          </li>
          <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <b class="arrow"></b>
          </a>
            <ul class="dropdown-menu dropdown-shiv">
              <li><%= link_to "My Profile", profile_path(:school_name => current_user.school_admin.school,:id =>current_user.id)%></li>
                  <li><%= link_to "My Posts", user_posts_path(current_user)%></li>
                  <li><%= link_to "Edit Profile", edit_profile_path(:school_name => current_user.school_admin.school,:id =>current_user.id) %></li>
                  <% if current_user.role == 'teacher' %>
                    <li><%= link_to "Edit Class", edit_class_path(:school_name => current_user.school_admin.school,:id =>current_user.id) %></li>
                  <% end %>
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
            </ul>
          </li>
        </ul>
      </li>
      
    </ul>
  </div>  
    </div>
  </div>  
</header>
<article>

   <%= yield %>
  <p id="back-top" class="pulse"><a title="back to top" href="#top"></a></p>
</article>
<footer>
  <div class="box-footer clearfix">
    <div class="copyright">
      <p>&copy; 2012 Eduposts</p>
    </div>
    <ul class="menu-footer">
      <li><a href="#" title="About">About</a></li>
      <li><a href="#" title="Help">Help</a></li>
      <li><a href="#" title=" Terms"> Terms</a></li>
      <li><a href="#" title="Privacy">Privacy</a></li>
      <li><a href="#" title="Blog">Blog</a></li>
    </ul>
  </div>
</footer>



    <div id='ajax_loader_big_div' style='z-index:1000000;display: none;'>
      <img alt=""  src="/assets/bigger_spinner.gif" style="width:32px;height:32px;z-index:1000000;"/>
    </div>
    
  <div id='overlay' style='filter:alpha(opacity=50);'></div>
  <div align='center' id='popup_box'>
    <div style='float: right; margin-top: -40px;margin-right:-40px'>
    </div>
    <div id='popup_body' style='float:right'></div>
  </div>
  <div align='center' id='popup_box1'>
    <div style='float: right; margin-top: -40px;margin-right:-40px'>
    </div>
    <div id='popup_body1' style='float:right'></div>
  </div>
  <%= render :partial => 'layouts/google_analytics' if Rails.env == 'production' %>
</body>
</html>
<script>
  $('.search-query').change(function() {
    $('form').submit();
  });
</script>
